*{
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	filter:alpha(opacity=60);
font-family: 'Baloo Tammudu', cursive;
}

body {
  background-image: url(../assets/img/cine.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
	font-family: 'Baloo Tammudu', cursive;
	color: #cc0000;
	padding-top: 5em;
}

.button{
	color: #ae0c00;
	background-color: transparent;
}

.button:hover {
 color: #f2f3f4;
 background-color: #ae0c00;
 border: none;
}

.button:active{
	color: #ae0c00;
	background-color: transparent;
}

.white {
	text-decoration: none;
	color:white;
}

.white:active{
	text-decoration: none;
	color:white;
}