<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Movie</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">  
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="../css/movie.css">
  
</head>
<body>
                           
<!--***** Navbar *********-->

<div class="container-fluid">
  <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="text-right txt-sm-nav">
      <button type="submit" class="btn btn-primary btn-register">Register Now</button>
      <img src="../assets/img/user.png " class="user" alt="">
      <a class="sign-out">Sign In</a>      
    </div>
    
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain" >
      <span class="glyphicon glyphicon-chevron-right"></span>        
      </button>
      <img class="img-reponsive nav-logo" src="../assets/img/logo4.png" alt="">
     <!-- <a class="navbar-brand" href="#" class="title-nav">STATION MOVIE</a>-->
    </div>
    <div class="collapse navbar-collapse " id="navMain" >
      <ul class="nav navbar-nav pull-right txt-sm-nav">
        <li class="active" title="Home"><a href="#">Home</a></li>
        <li><a href="#" title="Premier">Premier</a></li>
        <li><a href="#" title="Generos">Genre</a></li> 
        <li><a href="#" title="ContactUs">Contact Us</a></li> 
         <li><a href="#" title="ContactUs">Foro</a></li> 
      </ul>
      </div>
    </div>
  </div>
</div>
<!--Seccion01-->
<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="form-inline text-center">    
        <button type="submit" class="btn btn-default btn1-register  txt-sm-body "> add to my favorites list</button>
      </form>
      </div>
    </div>
  </div>
</section>
<!--Lista de peliculas-->
<section class="container space1">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="video-space">
      <div class="container-video" >
        <iframe class="img-responsive video" src="https://www.youtube.com/embed/XF2cUhfxhs4" frameborder="0" allow=""
          allowfullscreen></iframe>
      </div>
    </div>
    </div>
    </div>
</section>
<footer class=" color-fondo" >
<!--iconos redes sociales-->
   <div class="container-fluid">
      <div class="row center-block ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dateImg">
        <div>
        <span class="btn-f"><a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>  
        <span class="btn-f"> <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-play" aria-hidden="true"></i></a></span>
        </div>
          <div class="container-footer-date" >
            <p class="text-center"> informesstationmovie@stationmovie.com</p>
            <hr>
        </div>    
      </div>      
    </div>    
  </div>
</footer>
<!-- Js de bootstrap-->
<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src=""></script>

</body>
</html>  