<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>
    <!-- Navbar/header -->
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar transparent">
            <div class="container">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain" >
                            <div class="navbar-header arrow ">
                        <span class="glyphicon glyphicon-chevron-down class="green-color""></span>
                    </button>
                    <a class="navbar-brand" href="#" class="title-nav">STATION MOVIE</a>
                </div>
                <div class="collapse navbar-collapse " id="navMain">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active green-color" title="Home">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a class="green-color" href="#" title="Premier">Premier</a>
                        </li>
                        <li>
                            <a class="green-color" href="#" title="Generos">Genre</a>
                        </li>
                        <li>
                            <a class="green-color" href="#" title="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- profile-information -->
    <div class="container">
        <div class="row">
            div.
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../js/profile.js"></script>
</body>

</html>